<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.ankoma88.shoppingdiary"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="com.ankoma88.shoppingdiary.ProductListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.ankoma88.shoppingdiary.ProductActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ankoma88.shoppingdiary.ProductListActivity"/>
        </activity>
        <activity
            android:name="com.ankoma88.shoppingdiary.ProductPagerActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ankoma88.shoppingdiary.ProductListActivity"/>
        </activity>

        <activity
            android:name="com.ankoma88.shoppingdiary.ProductCameraActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>

    </application>

</manifest>
